@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Roboto, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	width: 100vw;
	height: 100%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f8f3f9;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
}

.MuiDataGrid-columnHeaders {
	background-color: rgba(252, 252, 252);
}

.MuiDataGrid-footerContainer {
	background-color: rgba(252, 252, 252);
}

.MuiDataGrid-row {
	background-color: #fff;
	font-size: 0.8rem !important;
}

.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-cell:focus {
	outline: none;
}

.MuiDataGrid-columnHeaderTitle {
	text-transform: uppercase;
	font-weight: 600 !important;
	font-size: 0.8rem;
}

.MuiTouchRipple-root {
	color: #5d5fef;
}

.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within {
	outline: none !important;
}
